lorenz.pdf
paper_34367.docx
paper_34367.pages
.ipynb_checkpoints/script-checkpoint.ipynb
~$scipro_presentation.pptx
scipro_presentation.pptx
.ipynb_checkpoints/heuns_implementation-checkpoint.ipynb
.gitignore
.ipynb_checkpoints/rk4_implementation-checkpoint.ipynb
__pycache__/lorenz_attractor.cpython-312.pyc
.ipynb_checkpoints/lorenz_attractor-checkpoint.ipynb
newplot3.png
figures/12000.png
figures/24000.png
figures/diff-methods.jpeg
figures/diff-states.jpeg
figures/newplot.png
figures/newplot2.png
References/2001052863.pdf
